# Dependencies
/node_modules

# Build output
/dist

# Other large or generated folders/files
/node
node.zip

# VS Code editor settings
/.vscode
# Local Netlify folder
.netlify

# Secrets (never commit)
.env
referee.json
